body{font-size:16px;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;margin: 0;padding: 0;}
html, body{height: 100%;}
a:hover{text-decoration:none; transition:all 0.5s ease;-webkit-transition:all 0.5s ease;color:#0c4884;}
a:focus{text-decoration:none;color:#0c4884;}
img{max-width:100%;}
button, input, select, textarea{font-family: 'Roboto', sans-serif;}
h1,h2,h3,h4,h5,h6{line-height:1.2;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;float: left;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
select::-ms-expand {display: none;}




.custom-container {width: 1170px;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;overflow: hidden;}
.select-heading {font-weight: 300;color: #fff;margin: 5px 0 0 0;float: left;font-size: 25px;}
.top-section {padding-top: 20px;}
.top-section form select {width: 360px;padding: 10px 10px;border: 1px solid #000;color: #000;font-size: 18px;background: #fff url(../images/caret.png) no-repeat 0 0;background-position: 95% center;-webkit-appearance: none;-moz-appearance: none;margin: 0 80px 0 60px;}
.btn {color: #000;padding: 10px 40px;float: left;font-size: 20px;font-weight: 300;margin: 0 0 0 30px;background: #fff;position: relative;display: inline-block;vertical-align: middle;text-decoration: none; border: 1px solid #000;}
.leftArrowBtn:after {content: "";position: absolute;width: 0;height: 0;margin: auto;bottom: 0;top: 0;left: -17px;box-sizing: border-box;border: 17px solid #000;border-color: transparent transparent #fff #fff;transform: rotate(45deg); -webkit-transform: rotate(45deg);box-shadow: -1px 1px 0px 0 #000; -webkit-box-shadow: -1px 1px 0px 0 #000;}
.rightArrowBtn:after{content: "";position: absolute;width: 0;height: 0;margin: auto;bottom: 0;top: 0;right: -17px;box-sizing: border-box;border: 17px solid #000;border-color: transparent transparent #fff #fff;transform: rotate(-135deg); -webkit-transform: rotate(-135deg);box-shadow: -1px 1px 0px 0 #000; -webkit-box-shadow: -1px 1px 0px 0 #000;}

.top-section form {float: left;}
.top-btn {float: left;}
.main-content {margin: 40px 25px 0 25px;padding: 0 0 0 0px;background: #fff;}
.client-img {border: 4px solid #ABAEAE;padding: 10px;border-radius: 50%;-webkit-border-radius: 50%;width: 80px;height: 80px;background: #fff;text-align: center;overflow: hidden;float: left;margin: -30px 0 0 -20px;}
.client-img img {padding: 10px 0 0 0;width: 124px;}

.inn-content {padding: 0;}
.inn-content img {width: 100%;}
.inn-client-details {padding: 10px 0 0 120px;}
.client-name {font-size: 22px;color: #000;}
.client-age {font-size: 14px;color: #000;}
.inn-content h3 {font-size: 16px;color: #000;}
.inn-content p {font-size: 14px;color: #000;line-height: 26px;font-style: italic;}
.inn-content{max-height: 200px;}

ul.tabs {list-style: none;background: #d5d5d5;width: 92%;margin: 0 auto;border: 1px solid #000;display: table; padding: 0;}
ul.tabs li {background: none;color: #000;display: table-cell;padding: 10px 15px;cursor: pointer;font-size: 20px;}
ul.tabs li.current {
	color: #000;
	background: rgb(93,198,255);
	background: -moz-linear-gradient(top, rgba(93,198,255,1) 0%, rgba(89,194,252,1) 6%, rgba(89,191,253,1) 6%, rgba(88,193,251,1) 7%, rgba(84,186,248,1) 13%, rgba(83,188,246,1) 14%, rgba(81,187,249,1) 15%, rgba(79,185,245,1) 17%, rgba(81,185,246,1) 18%, rgba(79,183,244,1) 18%, rgba(76,182,244,1) 22%, rgba(75,181,241,1) 22%, rgba(75,181,243,1) 23%, rgba(74,180,240,1) 23%, rgba(74,180,242,1) 26%, rgba(72,178,240,1) 26%, rgba(73,179,241,1) 27%, rgba(72,178,238,1) 27%, rgba(72,178,238,1) 27%, rgba(73,179,241,1) 27%, rgba(70,178,240,1) 27%, rgba(72,178,240,1) 28%, rgba(69,177,239,1) 29%, rgba(72,178,240,1) 29%, rgba(70,176,238,1) 29%, rgba(69,175,237,1) 32%, rgba(66,174,236,1) 32%, rgba(68,174,236,1) 33%, rgba(65,173,235,1) 33%, rgba(65,174,233,1) 34%, rgba(65,173,235,1) 35%, rgba(63,171,233,1) 35%, rgba(63,169,231,1) 39%, rgba(60,168,230,1) 39%, rgba(60,168,232,1) 41%, rgba(59,167,229,1) 41%, rgba(57,165,229,1) 45%, rgba(55,163,225,1) 46%, rgba(53,161,225,1) 52%, rgba(49,159,222,1) 53%, rgba(51,159,223,1) 54%, rgba(49,157,221,1) 54%, rgba(49,159,222,1) 55%, rgba(46,154,218,1) 60%, rgba(42,154,217,1) 60%, rgba(44,154,217,1) 62%, rgba(42,152,215,1) 62%, rgba(38,150,213,1) 66%, rgba(40,149,214,1) 67%, rgba(37,149,213,1) 67%, rgba(38,148,211,1) 67%, rgba(38,147,212,1) 71%, rgba(36,145,210,1) 71%, rgba(35,147,211,1) 73%, rgba(33,145,209,1) 73%, rgba(35,144,209,1) 74%, rgba(32,144,208,1) 74%, rgba(34,143,208,1) 75%, rgba(28,142,205,1) 79%, rgba(31,140,205,1) 80%, rgba(28,140,204,1) 80%, rgba(29,141,205,1) 81%, rgba(27,139,203,1) 81%, rgba(26,138,204,1) 84%, rgba(24,136,200,1) 85%, rgba(24,136,202,1) 87%, rgba(21,134,200,1) 87%, rgba(24,133,200,1) 90%, rgba(22,131,198,1) 90%, rgba(23,132,199,1) 91%, rgba(22,131,196,1) 91%, rgba(22,131,198,1) 92%, rgba(19,132,198,1) 92%, rgba(16,129,195,1) 94%, rgba(13,126,192,1) 100%);
	background: -webkit-linear-gradient(top, rgba(93,198,255,1) 0%,rgba(89,194,252,1) 6%,rgba(89,191,253,1) 6%,rgba(88,193,251,1) 7%,rgba(84,186,248,1) 13%,rgba(83,188,246,1) 14%,rgba(81,187,249,1) 15%,rgba(79,185,245,1) 17%,rgba(81,185,246,1) 18%,rgba(79,183,244,1) 18%,rgba(76,182,244,1) 22%,rgba(75,181,241,1) 22%,rgba(75,181,243,1) 23%,rgba(74,180,240,1) 23%,rgba(74,180,242,1) 26%,rgba(72,178,240,1) 26%,rgba(73,179,241,1) 27%,rgba(72,178,238,1) 27%,rgba(72,178,238,1) 27%,rgba(73,179,241,1) 27%,rgba(70,178,240,1) 27%,rgba(72,178,240,1) 28%,rgba(69,177,239,1) 29%,rgba(72,178,240,1) 29%,rgba(70,176,238,1) 29%,rgba(69,175,237,1) 32%,rgba(66,174,236,1) 32%,rgba(68,174,236,1) 33%,rgba(65,173,235,1) 33%,rgba(65,174,233,1) 34%,rgba(65,173,235,1) 35%,rgba(63,171,233,1) 35%,rgba(63,169,231,1) 39%,rgba(60,168,230,1) 39%,rgba(60,168,232,1) 41%,rgba(59,167,229,1) 41%,rgba(57,165,229,1) 45%,rgba(55,163,225,1) 46%,rgba(53,161,225,1) 52%,rgba(49,159,222,1) 53%,rgba(51,159,223,1) 54%,rgba(49,157,221,1) 54%,rgba(49,159,222,1) 55%,rgba(46,154,218,1) 60%,rgba(42,154,217,1) 60%,rgba(44,154,217,1) 62%,rgba(42,152,215,1) 62%,rgba(38,150,213,1) 66%,rgba(40,149,214,1) 67%,rgba(37,149,213,1) 67%,rgba(38,148,211,1) 67%,rgba(38,147,212,1) 71%,rgba(36,145,210,1) 71%,rgba(35,147,211,1) 73%,rgba(33,145,209,1) 73%,rgba(35,144,209,1) 74%,rgba(32,144,208,1) 74%,rgba(34,143,208,1) 75%,rgba(28,142,205,1) 79%,rgba(31,140,205,1) 80%,rgba(28,140,204,1) 80%,rgba(29,141,205,1) 81%,rgba(27,139,203,1) 81%,rgba(26,138,204,1) 84%,rgba(24,136,200,1) 85%,rgba(24,136,202,1) 87%,rgba(21,134,200,1) 87%,rgba(24,133,200,1) 90%,rgba(22,131,198,1) 90%,rgba(23,132,199,1) 91%,rgba(22,131,196,1) 91%,rgba(22,131,198,1) 92%,rgba(19,132,198,1) 92%,rgba(16,129,195,1) 94%,rgba(13,126,192,1) 100%);
	background: linear-gradient(to bottom, rgba(93,198,255,1) 0%,rgba(89,194,252,1) 6%,rgba(89,191,253,1) 6%,rgba(88,193,251,1) 7%,rgba(84,186,248,1) 13%,rgba(83,188,246,1) 14%,rgba(81,187,249,1) 15%,rgba(79,185,245,1) 17%,rgba(81,185,246,1) 18%,rgba(79,183,244,1) 18%,rgba(76,182,244,1) 22%,rgba(75,181,241,1) 22%,rgba(75,181,243,1) 23%,rgba(74,180,240,1) 23%,rgba(74,180,242,1) 26%,rgba(72,178,240,1) 26%,rgba(73,179,241,1) 27%,rgba(72,178,238,1) 27%,rgba(72,178,238,1) 27%,rgba(73,179,241,1) 27%,rgba(70,178,240,1) 27%,rgba(72,178,240,1) 28%,rgba(69,177,239,1) 29%,rgba(72,178,240,1) 29%,rgba(70,176,238,1) 29%,rgba(69,175,237,1) 32%,rgba(66,174,236,1) 32%,rgba(68,174,236,1) 33%,rgba(65,173,235,1) 33%,rgba(65,174,233,1) 34%,rgba(65,173,235,1) 35%,rgba(63,171,233,1) 35%,rgba(63,169,231,1) 39%,rgba(60,168,230,1) 39%,rgba(60,168,232,1) 41%,rgba(59,167,229,1) 41%,rgba(57,165,229,1) 45%,rgba(55,163,225,1) 46%,rgba(53,161,225,1) 52%,rgba(49,159,222,1) 53%,rgba(51,159,223,1) 54%,rgba(49,157,221,1) 54%,rgba(49,159,222,1) 55%,rgba(46,154,218,1) 60%,rgba(42,154,217,1) 60%,rgba(44,154,217,1) 62%,rgba(42,152,215,1) 62%,rgba(38,150,213,1) 66%,rgba(40,149,214,1) 67%,rgba(37,149,213,1) 67%,rgba(38,148,211,1) 67%,rgba(38,147,212,1) 71%,rgba(36,145,210,1) 71%,rgba(35,147,211,1) 73%,rgba(33,145,209,1) 73%,rgba(35,144,209,1) 74%,rgba(32,144,208,1) 74%,rgba(34,143,208,1) 75%,rgba(28,142,205,1) 79%,rgba(31,140,205,1) 80%,rgba(28,140,204,1) 80%,rgba(29,141,205,1) 81%,rgba(27,139,203,1) 81%,rgba(26,138,204,1) 84%,rgba(24,136,200,1) 85%,rgba(24,136,202,1) 87%,rgba(21,134,200,1) 87%,rgba(24,133,200,1) 90%,rgba(22,131,198,1) 90%,rgba(23,132,199,1) 91%,rgba(22,131,196,1) 91%,rgba(22,131,198,1) 92%,rgba(19,132,198,1) 92%,rgba(16,129,195,1) 94%,rgba(13,126,192,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5dc6ff', endColorstr='#0d7ec0',GradientType=0 );
}
.tab-content {display: none;background: #fff;padding: 15px;}
.tab-content.current {display: inherit;}
.tabHld {padding-bottom: 15px;}
.inn-content iframe {width: 440px;height: 220px;object-fit: cover;}
.tab-content .mCSB_scrollTools .mCSB_draggerRail {width: 4px;}
.tab-content .mCSB_inside > .mCSB_container {margin-right: 20px;}







@media screen and (max-width: 1169px){



}

@media screen and (max-width: 1023px){








}

@media screen and (max-width: 767px){

.custom-container {width: auto;}
.select-heading {float: none;text-align: center;}
.top-section form {float: none;margin: 20px 0 30px 0;}
.top-section form select {width: 100%;margin: 0 0 0 0;}
.top-btn {float: none;text-align: center;}
.btn {padding: 8px 26px;margin: 0 0 0 20px;display: inline-block;float: none;}
.leftArrowBtn:after ,.rightArrowBtn::after {display: none;}
.inn-content {padding: 0;}
.main-content {margin: 110px 0 0 0;}
.col-6 {width: 100%;float: none;}
.inn-content iframe {width: 100%;height: auto;}
.client-img {width: 50px;height: 50px;margin: -30px 0 0 -10px;}
.client-img img {padding: 10px 0 0 0;width: 70%;}
.client-name {font-size: 18px;}
.inn-client-details {padding: 10px 0 0 70px;}
ul.tabs li {padding: 10px 5px !important;font-size: 15px !important;text-align: center;}
.main-content {margin: 50px 0 0 0;}


}
@media screen and (max-width: 480px){
ul.tabs li {padding: 10px 5px !important;font-size: 11px !important;text-align: center;}
}




